body {
    background-color: #DFCFBE;
    color: #212529;
    font-size: 1.5rem;
    font-family: "Fantasy", copperplate, papyrus;
}

h1 {
    margin-top: 18px;
    text-align: center;
    color: #DC143C;
    font-size: 60px;
    font-weight: 900;
}

h2 {
    margin-top: 45px;
}

h2, h3 {
    font-size: 43px;
    margin-left: 18px;
}

h4 {
    font-size: 43px;
    text-align: center;
    margin-top: 100px;
}

hr {
    background-color: #000000;
}

#hr1 {
    margin-bottom: 18px;
    margin-top: 18px;
}

#hr2 {
    margin-bottom: 18px;
    margin-top: 100px;
}

#p1 {
    font-size: 75%;
    font-style: oblique;
    text-align: center;
}

p:not(#p1) {
    font-size: 91%;
    margin-left: 56px;
    margin-top: 14px;
}

#p4 {
    text-align: center;
}

h:not(h1, h4) {
    margin-left: 18px;
}

img, button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hedge {
    display: none;
}

#p5 {
    text-align: center;
    margin-top: 18px;
}

#hedge {
    display: none;
}

li {
    margin-bottom: 27px;
    margin-left: 18px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;
}

#aReturn {
    margin-left: 18px;
    font-size: 18px;
    padding: 3em 3em;
}

ul.list-group li {
    background-color: #F1F1F1;
}

button {
    width: 100%;
    height: 100%;
    padding: 3em 3em;
}

a {
    padding: 1.5em 0em;
}